<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/null.css">
    <link rel="stylesheet" href="../css/companies.css">
    <link rel="stylesheet" href="../css/detailed.css">
    <link rel="stylesheet" href="../css/loader.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script type="module" src="../components/companies.js" defer></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=059fc6e2-a4dd-466d-a6e1-9cb4b1b10fd6&lang=ru_RU" type="text/javascript"></script>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container _container">
                <div class="header__logo">Companies Searcher</div>
                <div class="header__menu">
                    <i class='bx bxs-building-house'>+</i>
                    <i class='bx bx-exit' id="exit"></i>
                </div>
            </div>
        </header>
        <div class="page" id="page">
            <div class="page__container _container">
            </div>
        </div>
    </div>
</body>
</html>